<!-- Start of Side Navigation -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
    <ul class="nav flex-column">
       <%= nav_helper_with_icon 'li', 'nav-item', 'nav-link' %>
        
    </ul>

    </div>
</nav>
<!-- End of Side Navigation -->